{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}
{% block content %}
<div class="about-gradient=bg">
  <div class="about-sec1">
    <h1>About</h1>
    <h3>What is NIL-STEM?</h3>
    <p>NIL-STEM is a virtual, non-monetary program designed to help high school students, especially those in rural areas, explore STEM programs offered by top universities across Canada and discover future opportunities in science, technology, and engineering fields.</p>
  </div>
  <section class="about-sec2 bubble-bg">
    <div class="about-sec2__content container container--pall">
      <h2>Goals of NIL-STEM</h2>
      <p class="about-subtitle">Provide students with opportunities to:</p>

      <div class="goals-grid">
        <article class="goals-item">
          <span class="goal-icon" aria-hidden="true">
            <i class="fas fa-graduation-cap"></i>
          </span>
          <p>Broaden awareness of diverse pursuable fields in post-secondary</p>
        </article>

        <article class="goals-item">
          <span class="goal-icon" aria-hidden="true">
            <i class="fas fa-lightbulb"></i>
          </span>
          <p>Help inspire interest in post-secondary studies</p>
        </article>

        <article class="goals-item">
          <span class="goal-icon" aria-hidden="true">
            <i class="fas fa-project-diagram"></i>
          </span>
          <p>Network and learn from successful professionals in the STEM fields</p>
        </article>

        <article class="goals-item">
          <span class="goal-icon" aria-hidden="true">
            <i class="fas fa-university"></i>
          </span>
          <p>Learn about academic programs and university life directly from students pursuing studies</p>
        </article>
      </div>
    </div>  
  </section>

  <div class="meet-the-team">
    <h2>Meet the Team</h2>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/deborah.jpg') }}" alt="Deborah Yun">
        </div>
        <div class="card-info">
          <h3>Deborah Yun</h3>
          <p>Founder / President</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Honors Physiology</p>
            <ul>
              <li>I love nature</li>
              <li>I absolutely despise seafood despite being Korean…</li>
              <li>NIL-STEM was formed when I was in high school!!</li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <h3>Finance</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/abby.png') }}" alt="Abby Gagelonia">
        </div>
        <div class="card-info">
          <h3>Abby Gagelonia</h3>
          <p>VP Finance</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Mechanical Engineering</p>
            <ul>
              <li>I helped send a satellite to space!</li>
              <li>One time i ate 50 pieces of sashimi in one sitting.</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/lera.jpg') }}" alt="Lera Igosheva">
        </div>
        <div class="card-info">
          <h3>Lera Igosheva</h3>
          <p>Director Finance</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Economics and Law</p>
            <ul>
              <li>I love to whistle!</li>
              <li>BIG hiker.</li>
              <li>The only non-STEM executive!</li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <h3>Events</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/haruka.jpg') }}" alt="Haruka Mitsueda">
        </div>
        <div class="card-info">
          <h3>Haruka Mitsueda</h3>
          <p>VP Events</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Nursing</p>
            <ul>
              <li>I like to pay too much money for clothes</li>
              <li>I’m originally from Vancouver</li>
              <li>I'm a big Canucks fan (don’t hurt me)</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/shrieya.jpg') }}" alt="Shrieya Praveen">
        </div>
        <div class="card-info">
          <h3>Shrieya Praveen</h3>
          <p>Director Events</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Honours Physiology</p>
            <ul>
              <li>I’m from Chicago (not o’block)</li>
              <li>I’ve moved 11 times and have lived in 3 countries!!</li>
              <li>I’ve been a dancer (indian classical) since I was 5</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/evan.jpg') }}" alt="Evan Yin">
        </div>
        <div class="card-info">
          <h3>Evan Yin</h3>
          <p>Director Events</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him<br>Honours Physiology</p>
            <ul>
              <li>My record for Pokémon names recited from memory is 1021/1025</li>
              <li>Once I was so tired from painting I drank out of my paintbrush washing jar</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/hayden.png') }}" alt="Hayden Gauley">
        </div>
        <div class="card-info">
          <h3>Hayden Gauley</h3>
          <p>Director Events</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him<br>Honours Neuroscience</p>
            <ul>
              <li>I was born in California.</li>
              <li>I have been to the hospital 7 times due to hockey injuries (thank god for universal healthcare)</li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <h3>Communications</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/kiana.jpg') }}" alt="Kiana Gierer">
        </div>
        <div class="card-info">
          <h3>Kiana Gierer</h3>
          <p>VP Communications</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Chemical Engineering</p>
            <ul>
              <li>I like playing volleyball and crocheting in my free time.</li>
              <li>I have a dog named Charlie!</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/harry.jpg') }}" alt="Harry Yoon">
        </div>
        <div class="card-info">
          <h3>Harry Yoon</h3>
          <p>Director Communications</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him<br>Food Science and Technology</p>
            <ul>
              <li>I have 3 skis and 11 baseball bats in my house (5 of the bats are broken and just sitting there).</li>
              <li>I play baseball, ski and volleyball as a hobby</li>
              <li>My bucket list is going on Food Tour on New York (eating 7 meals per day)</li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <h3>Marketing</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/michelle.jpg') }}" alt="Michelle Chan">
        </div>
        <div class="card-info">
          <h3>Michelle Chan</h3>
          <p>VP Marketing</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Pharmacology</p>
            <ul>
              <li>Total adrenaline junkie for thrill rides!</li>
              <li>Dyed my hair pink for high school grad!</li>
              <li>Dogs? I got THREE!</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/lulu.jpg') }}" alt="Lulu Xiao">
        </div>
        <div class="card-info">
          <h3>Lulu Xiao</h3>
          <p>Director Marketing</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Physiology</p>
            <ul>
              <li>I am now iron 3 in league of legends.</li>
              <li>I can burp on command.</li>
              <li>I love pickles (can eat a whole jar in an hour)</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/danting.jpg') }}" alt="Danting Zheng"> 
        </div>
        <div class="card-info">
          <h3>Danting Zheng</h3>
          <p>Director Marketing</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Honours Neuroscience</p>
            <ul>
              <li>I love Peking duck.</li>
              <li>I often fall asleep to food reels (creamy, cheesy noodles😩).</li>
              <li>I did ballet for 7 years.</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/fogil.jpg') }}" alt="Fogil Zheng"> 
        </div>
        <div class="card-info">
          <h3>Fogil Zheng</h3>
          <p>Director Marketing</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Computer Science</p>
            <ul>
              <li>I am Chinese</li>
              <li>I made this website.</li>
              <li>I like to play gacha games.</li>
            </ul>
          </div>
        </div>
      </article>
    </div>

    <h3>Rural Outreach</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/sally.jpg') }}" alt="Sally Hung">
        </div>
        <div class="card-info">
          <h3>Sally Hung</h3>
          <p>VP Rural Outreach</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Biochemistry</p>
            <ul>
              <li>I love overspending on makeup and skincare 😞</li>
              <li>I'm from Calgary and Brooks (if you know where that is)</li>
              <li>I like baking in my free time</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/ryne.jpg') }}" alt="Ryne Semeniuk">
        </div>
        <div class="card-info">
          <h3>Ryne Semeniuk</h3>
          <p>Director Rural Outreach</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him/<br>Honours Physiology</p>
            <ul>
              <li>I'm one of two rural-borne members of the club!</li>
              <li>A kind security guard let me taste that cheeto.</li>
              <li>The cheeto statue tastes really bad</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/mohamed.jpg') }}" alt="Mohamed Belhaj"> 
        </div>
        <div class="card-info">
          <h3>Mohamed Belhaj</h3>
          <p>Director Rural Outreach</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him/<br>Honours Physiology</p>
            <ul>
              <li>I enjoy bouldering and you'll often find me at the Wilson climbing center</li>
              <li>I absolutely looooove psychological thrillers and mysteries</li>
              <li>I often contemplate who the inventors of certain foods are and whether or not they got the recognition they deserved.</li>
            </ul>
          </div>
        </div>
      </article>

    </div>

    <h3>Mentor Outreach</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/jaxon.jpg') }}" alt="Jaxon Fedoruk">
        </div>
        <div class="card-info">
          <h3>Jaxon Fedoruk</h3>
          <p>VP Mentor Outreach</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him<br>Chemical Engineering</p>
            <ul>
              <li> I'm from Calgary</li>
              <li> I like short walks on the beach</li>
              <li>I like to not study and have free time</li>
            </ul>
          </div>
        </div>
      </article>

      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/jacky.jpg') }}" alt="Jacky Kuang">
        </div>
        <div class="card-info">
          <h3>Jacky Kuang</h3>
          <p>Director Mentor Outreach</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>He/Him<br>Honours Neuroscience</p>
            <ul>
              <li>Big warriors fan</li>
              <li>Sleep fan</li>
              <li>I like sunset runs with my dog</li>
              <li>#1 potato corner lover</li>
            </ul>
          </div>
        </div>
      </article>

    </div>
    <h3>Internal</h3>

    <div class="team-grid">
      <article class="team-card">
        <div class="card-media">
          <img src="{{ url_for('static', filename='images/team/jessica.jpg') }}" alt="Jessica Jiang">
        </div>
        <div class="card-info">
          <h3>Jessica Jiang</h3>
          <p>VP Internal</p>
        </div>
        <div class="card-overlay">
          <div class="overlay-content">
            <p>She/Her<br>Physiology</p>
            <ul>
              <li>I got sent to the ER two nights in a row from being my high school mascot.</li>
              <li>I’ve been to the eras tour</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
      
  </div>  
</div>
{% endblock %}