{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}
{% block content %}
<div class="events-gradient-bg">
  <h1>Events Schedule</h1>
  <p>Stay tuned for our upcoming events, where you’ll connect with inspiring speakers, engage in interactive sessions, and explore exciting opportunities in STEM. These events are designed to bring valuable insights and experiences straight to you—don’t miss out!​ Click on the calendar events for event registration!</p>
  <div class="calendar-container">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FEdmonton&showPrint=0&src=ZnJlZXNpYTUzOEBnbWFpbC5jb20&src=ZDRmZWMzZDVkZDIzMjU0MzA3ZWM3OTEwYjljNjMwN2Q4NTVhNWUwMzg0YjU2ODg3ZjhmZWY5M2E1NGQxZDQ3MUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19wNGE4bGZjajNsMGQxNnQ3cjR0a2t1MG1vY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%23f4511e&color=%23009688&color=%237cb342" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <h2>Previous Events</h2>
</div>
  {% endblock %}